body{
    background-image:url(./img.jpg/bluie3.jpg);
color:aqua;
}
h1{
    color: gold;
}
img{ margin-left: 5%;
    width: 8%;
    border-radius: 15px;
}
.gigi{
    font-size: 15px;
}
.zigi{
    font-size: 15px;
}
.bigi{
    font-size: 15px;
}
.cigi{
    font-size: 15px;
}
